<?xml version="1.0"?>

<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name ="world_file_name" default="world_test.world"/>

  <include file="$(find gazebo_worlds)/launch/test_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="world_name"  value="$(find gazebo_worlds)/worlds/$(arg world_file_name)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  </include>

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_project.launch" />
 <include file="bag.launch" />
</launch>
